body{
 background-color: #99ebff;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.gadget-card{
    width: 350px;
    border: 1px none;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px gray;
    position: relative;
    background-color: aliceblue;
    text-align: center;
    height: 450px;
    
}

.gadget-card:hover{
    box-shadow: 0 0 20px rgb(81, 81, 81);
    cursor: pointer;
    transition: 0.6s;
} 

.gadget-card-title{
    text-align: center;
    font-size: 25px;
    margin: 0;
}

.gadget-icon{
    position: absolute;
    top: 12px;
    right: 10px;
    height: 90px;
    width: 100px;
    border-radius: 2px;
}

.gadget-img{
    width: 100%;
    height: 55%;
    border-radius: 5px;
    object-fit: cover;
}

.gadget-card-price{
    font-size: 25px;
}

.gadget-card-btn{
    background-color: #00ccff;
    border-radius: 8px;
    border: none;
    display: block;
    margin: 10px auto;
    height: 30px;
    padding: 3px 20px;
    font-size: 20px;
    cursor: pointer;
}

.gadget-card-btn:hover{
    background-color:rgb(255, 255, 255);
    color:#00ccff;
    border: solid #00ccff;
}